<h1>View Product</h1>
{{#if msg}}
 <div class="alert alert-info">{{msg}}</div>
{{/if}}


  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each product}}
        <tr>
          <td>{{this.pname}}</td>
          <td>{{this.price}}</td>
          <td>{{this.qty}}</td>
          <td><img src="images/{{this.image}}" alt="" width="100px"></td>
          <td><a href="/deleteproduct/{{this._id}}" class="btn btn-danger">DELETE</a></td>
           <td><a href="/editproduct/{{this._id}}" class="btn btn-info">EDIT</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>